.home {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 75vh;
    align-items: center;
}

.home #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.btn-particle-js {
    position: relative;
}

.profile .dots-1 {
    position: absolute;
    width: 3vw;
    right: 1.5vw;
    top: 4vw;
}
.profile .dots-1 svg {
    fill: #fff;
}
.profile .dots-2 {
    position: absolute;
    width: 3vw;
    right: -4vw;
    top: 6.05vw;
}
.profile .dots-2 svg {
    fill: #1e30f3;
}
.profile .dots-3 {
    position: absolute;
    width: 3vw;
    left: 1.5vw;
    bottom: 6.05vw;
}
.profile .dots-3 svg {
    fill: #fff;
}
.profile .dots-4 {
    position: absolute;
    width: 3vw;
    left: -4vw;
    bottom: 4vw;
}
.profile .dots-4 svg {
    fill: #1e30f3;
}

@media (min-width: 576px) {
    .profile {
        height: 60vw;
        width: 60vw;
    }
    .profile .profile-img {
        height: 65vw;
    }
    .profile .dots-1 {
        width: 3vw;
        right: 1.5vw;
    }
    .profile .dots-2 {
        width: 3vw;
        right: -4vw;
    }
    .profile .dots-3 {
        width: 3vw;
        left: 1.5vw;
    }
    .profile .dots-4 {
        width: 3vw;
        left: -4vw;
    }
}
